:root {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --text-primary: #23232e;
    --text-secondary: lightskyblue;
    --bg-primary: #ececec;
    --bg-secondary: whitesmoke;
    --darker-lsb: #79b9e1;
    --lighter-lsb: #e7f5fe;
    --transition-speed: 300ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: .75rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: lightskyblue;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    font-weight: bold;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: none;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.logo-text {
    margin-left: 1rem;
}

.logo .logo-text {
    margin-left: 1.25rem;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}
.nav-item .link-text {
    white-space: nowrap;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    letter-spacing: 0.2ch;
    width: 100%;
}

.logo-text {
    display: flex;
}

img {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: -50%;
    margin-top: 2em;
    position: relative;
    bottom: 3vh;
    z-index: 900;
}

.tweets .body {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tweets .title {
    font-weight: 700;
    color: rgb(51, 51, 51);
    font-size: 20px;
    margin-left: 70px;

}

.tweets .user {
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.tweets .message {
    margin-top: 10px;
    margin-left: 70px;
}

.tweets {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightskyblue;
    border-radius: 10px;
    overflow: hidden;
}


@media only screen and (max-width: 750px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    .link-text {
        display: inline;
        transition: opacity var(--transition-speed);

    }
    .logo-text {
        display: none;
    }
    main {
        margin: 0;
    }
}

@media only screen and (min-width: 750px) {
    .navbar {
        width: 5rem;
        height: 100vh;
        top: 0;
        z-index: 1000;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .logo-text {
        display: none;
    }
    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}

.first-button {
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    padding: 3vh 3vw;
    margin: 0;
    border: none;
    border-radius: 6vw;
    transition: ease 200ms;
}

#first-sign-up {
    background-color: lightskyblue;
}

#first-sign-up:hover {
    background-color: var(--darker-lsb);
    cursor: pointer;
}

#first-log-in {
    background-color: white;
    border: 3px solid var(--lighter-lsb);
}

#first-log-in:hover {
    background-color: var(--lighter-lsb);
    cursor: pointer;
}

.first-title {
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    font-size: 48px;
}

.first-image {
    width: auto;
    height: 99.6vh;
}

.first-image-div {
    margin-left: -50vw;
}

.first-main-div {
    padding: 1vh 5rem;
}

.first-grid {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    column-gap: 0;
}

.form-input {
    height: 3rem;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 0.4vw;
    padding-left: 1vw;
    width: calc(100% - 1vw);
}

.form-button {
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding: 3vh 3vw;
    margin: 0;
    border: none;
    border-radius: 6vw;
    background-color: lightskyblue;
    transition: ease 200ms;
}

.form-button:hover {
    background-color: var(--darker-lsb);
    cursor: pointer;
}

.form-wrap {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
}

.form-alt, .form-alt-link {
    color: gray;
    filter: opacity(0.9);
}
