<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Madlibs: Create Tweet</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <!-- navbar will show signup and login if user is not signed
        in and my tweets, create tweet and log out if they are logged in -->
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="/" class="nav-link">
                    <span class="link-text">Twitter Madlibs</span>
                    <span class="logo-text">TM</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/myTweets" class="nav-link">
                    <span class="link-text">my tweets</span>
                    <span class="logo-text">mt</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/logout" class="nav-link">
                    <span class="link-text">log out</span>
                    <span class="logo-text">lo</span>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <div class="form-wrap">
        <form action="/tweetRequest" method="POST">
            {% if type == 'CD' %}
                <h2>Enter a number:</h2>
            {% elif type == 'JJ' %}
                <h2>Enter an adjective:</h2>
            {% elif type == 'JJR' %}
                <h2>Enter a comparative adjective (e.g. funnier, cooler):</h2>
            {% elif type == 'JJS' %}
                <h2>Enter a superlative adjective (e.g. calmest, corniest):</h2>
            {% elif type == 'MD' %}
                <h2>Enter a modal auxiliary (e.g. can, cannot, could, might):</h2>
            {% elif type == 'NN' %}
                <h2>Enter a noun (singular form):</h2>
            {% elif type == 'N' %}
                <h2>Enter a noun (singular form):</h2>
            {% elif type == 'NNP' %}
                <h2>Enter a proper noun (singular form):</h2>
            {% elif type == 'NNS' %}
                <h2>Enter a noun (plural form):</h2>
            {% elif type == 'PRP' %}
                <h2>Enter a personal pronoun (e.g. hers, herself, him, ourselves):</h2>
            {% elif type == 'PRP$' %}
                <h2>Enter a possessive pronoun (e.g. her, his, mine, ours):</h2>
            {% elif type == 'RB' %}
                <h2>Enter an adverb:</h2>
            {% elif type == 'RBR' %}
                <h2>Enter a superlative adverb (e.g. best, biggest, earliest):</h2>
            {% elif type == 'UH' %}
                <h2>Enter an interjection (e.g. Goodbye, huh, Wow):</h2>
            {% elif type == 'VB' %}
                <h2>Enter a verb:</h2>
            {% elif type == 'VBD' %}
                <h2>Enter a verb (past tense):</h2>
            {% elif type == 'VBG' %}
                <h2>Enter a verb (gerund form like 'crossing', 'running', or 'jogging'):</h2>
            {% elif type == 'VBN' %}
                <h2>Enter a verb (past participle like 'ran', 'finished' or 'completed'):</h2>
            {% elif type == 'VBP' %}
                <h2>Enter a present tense verb not in 3rd person (e.g. twist, spill, tend, mold):</h2>
            {% elif type == 'VBZ' %}
                <h2>Enter a present tense verb in 3rd person (e.g. marks, stretches, uses, fizzes):</h2>
            {% else %}
                <h2>{{ type }}</h2>
            {% endif %}
            <input type="text" name="word" class="form-input"/>
            <input type="hidden" name="text" value="{{ text }}" />
            <input type="hidden" name="index" value="{{ index }}" />
            <input type="hidden" name="count" value="{{ count }}" />
            <br><br>
            {% if count > 0 %}
            <button type="submit" class="form-button">
                Next
            </button>
            {% else %}
            <button type="submit" class="form-button">
                Finish
            </button>
            {% endif %}
        </form>
      </div>
    </main>
</body>
</html>
