<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Madlibs</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section class="first-grid">
        <div class="first-image-div">
            <img src="../static/twit-back.jpg" class="first-image">
        </div>
        <div class="first-main-div">
            <h1 class="first-title">Join the MADness today</h1>
            <br><br>
            <h2>Sign up to get started</h2>
            <form action="/signup">
                <button class="first-button" id="first-sign-up">Sign up</button>
            </form>
            <h2>Already have an account?</h2>
            <form action="/login">
                <button class="first-button" id="first-log-in">Log in</button>
            </form>
        </div>
    </section>
</body>
</html>