<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="/" class="nav-link">
                    <span class="link-text">Twitter Madlibs</span>
                    <span class="logo-text">TM</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text">my tweets</span>
                    <span class="logo-text">mt</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text">create tweet</span>
                    <span class="logo-text">ct</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text">log out</span>
                    <span class="logo-text">lo</span>
                </a>
            </li>

        </ul>
    </nav>

    <main>
        <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <h1>hello</h1>
            <!-- this is the main page where the feed and shit will go.
            will be replaced with block -->
    </main>
</body>
</html>