<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <!-- navbar will show signup and login if user is not signed
        in and my tweets, create tweet and log out if they are logged in -->
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="/" class="nav-link">
                    <span class="link-text">Twitter Madlibs</span>
                    <span class="logo-text">TM</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/tweet" class="nav-link">
                    <span class="link-text">create tweet</span>
                    <span class="logo-text">ct</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/logout" class="nav-link">
                    <span class="link-text">log out</span>
                    <span class="logo-text">lo</span>
                </a>
            </li>
        </ul>
    </nav>

    <main>

          {% for tweet in tweets %}

          <div class="tweets">
            <div class="body">
              <img src="../static/logo.png">
              <span class="title">{{ username }}</span>
              <span class="user"> @{{ username }}</span>
              <div class="message">{{ tweet[0] }}</div>
              <a href="{{ tweet[1] }}" class="link">original tweet</a>
            </div>
            </div>
            <br>
          {% endfor %}
    </main>
</body>
</html>
