<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Madlibs: Sign up</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="form-wrap">
        <form action="/" method="POST">
            <h1>Sign up for Twitter Madlibs</h1>
            <input type="text" name="username" class="form-input" placeholder="Username">
            <br><br>
            <input type="password" name="password" class="form-input" placeholder="Password">
            <br><br>
            <button type="submit" class="form-button">Sign up</button>
            <br><br>
            <span class="form-alt">Already have an account? <a href="/" class="form-alt-link">Log in</a></span>
        </form>
    </div>
</body>
</html>